[submodule "vendor/cxxopts"]
	path = vendor/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt.git
